#formTravel {
  padding: 4rem;
  background-color: $orange;
  border-radius: 10px;
  transition: $transition;
  width: 40rem;
  margin-left: auto;
  margin-right: auto;
    .form-row {
      display: flex;
      flex-direction: row;
        div {
          flex: 1;
        }
        .form-field:first-child {
          margin-right: 1rem;
        }
    }
    label {
      color: white;
    }
}
