header {
  display: flex;
  justify-content: space-between;
    h1 {
    color: $orange;
    font-weight: bold;
    font-size: 3rem;
    margin-bottom: 0;
    }
    button#addTravel {
      font-size: 1rem;
      border-radius: 10px;
      position: relative;
      transition: background-color $transition;
    }
}
.content {
  padding-top: 3rem;
  .no-travel {
    color: gainsboro;
    font-weight: 300;
    font-size: 1.5rem;
  }
}
