.side-menu {
  position: fixed;
  width: 16rem;
  height: 100%;
  left: 0;
  top: 0;
  color: white;
  background-color: $orange;
    nav {
      position: absolute;
      width: 100%;
      top: 35%;
     ul {
      list-style: none;
      padding-left: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
       li {
        width: 70%;
        border-radius: 5px;
        overflow-x: hidden;
         .menu-item {
          color: white;
          text-decoration: none;
          width: 100%;
          padding: 1.2rem 2rem;
          display: inline-block;
          border-radius: 5px;
          transition: background-color $transition;
             &:hover {
              background-color: rgba(255,255,255,0.2);
            }
          }
        }
      }
    }
    ul.perso {
      position: absolute;
      bottom: 2.5rem;
      left: 50%;
      transform: translateX(-50%);
      list-style: none;
      padding-left: 0;
      color: white;
        li {
          position: relative;
          margin: 0.5rem 0;
        }
          li.user-info {
            padding-left: 2rem;
            text-transform: capitalize;
            &:before {
              content: url('../img/user_avatar.svg');
              width: 1.5rem;
              height: auto;
              left: 0;
              position: absolute;
            }
          }
            .link {
              color: white;
              padding: 0.5rem 1rem 0.5rem 0;
              display: inline-block;
            }
    }
}
