.background-login {
  width: 100%;
  height: 100%;
  position: absolute;
  background: #b3ded7;
}
svg#background {
  position: absolute;
}
.first {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-wrapper {
  display: flex;
  width: 40%;
  flex-direction: column;
  background-color: $orange;
  border-radius: 10px;
  padding: 5rem;
  position: relative;
  z-index: 1;
  box-shadow: 0 0 51px 0 rgba(0,0,0,.08), 0 6px 18px 0 rgba(0,0,0,.05);
}
.form-wrapper.register-form {
  padding: 2rem 5rem;
}
form {
  display: flex;
  flex-direction: column;
    div {
      display: flex;
      flex-direction: column;
    }
    ul {
      list-style: none;
      padding-left: 0;
      color: red;
    }
}
  h1 {
    margin-top: 0;
    color: white;
    text-align: center;
  }
  input {
    margin-bottom: 1.5rem;
    height: 2.5rem;
    border-radius: 50px;
    border: none;
    text-indent: 1rem;
  }
  label {
    margin-bottom: 0.5rem;
    color: white;
    font-weight: 100;
  }
  button {
  display: flex;
  align-self: center;
  border-style: outset;
  justify-content: space-between;
  border: none;
  padding: 1rem 3rem;
  color: white;
  background-color: rgb(40, 146, 248);
  border-radius: 50px;
}
button:focus {
  outline: none;
}
button:hover {
  background-color: rgba(40, 146, 248,0.8);
  transition: 300ms;
  cursor: pointer;
}

  button:hover svg.closed {
      transform: translateX(-1.5rem) translateY(-2rem);
      opacity: 0;
  }
  button:hover svg.opened {
      transform: translateX(-1.5rem) translateY(0);
      opacity: 1;
  }
span {
  transform: translateX(1rem);
}
.container-button {
  display: flex;
  align-items: center;
  position: relative;
  flex-direction: row;
}

.container-button svg {
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  transform: translateX(-1.5rem);
  transition: 300ms;
}

svg.opened {
  transform: translateX(-1.5rem) translateY(2rem);
  opacity: 0;
}
.form-wrapper p {
  color: white;
  text-align: center;
}
.form-wrapper .link {
  color: white;
}
