{% extends 'base.html.twig' %}

{% block title %}{% trans %}Log in{% endtrans %}{% endblock %}

{% block body %}
  <div class="background-login">
    <div class="container">
      <div class=first>
        <div class="form-wrapper">
          <form method="post">
              {% if error %}
                  <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
              {% endif %}

              <h1 class="h3 mb-3 font-weight-normal">{% trans %}Please sign in{% endtrans %}</h1>
              <label for="inputUsername" class="sr-only">{% trans %}Username{% endtrans %}</label>
              <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" placeholder="Username" required autofocus>
              <label for="inputPassword" class="sr-only">{% trans %}Password{% endtrans %}</label>
              <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>

              <input type="hidden" name="_csrf_token"
                     value="{{ csrf_token('authenticate') }}">

              {#
                  Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                  See https://symfony.com/doc/current/security/remember_me.html

                  <div class="checkbox mb-3">
                      <label>
                          <input type="checkbox" name="_remember_me"> Remember me
                      </label>
                  </div>
              #}

              <button>
                <div class='container-button'>
                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 137.218 137.218" class="closed" style="enable-background:new 0 0 137.218 137.218;"
                    xml:space="preserve">
                    <path
                      d="M128.942,77.41l0.87-0.574c1.693-1.171,2.091-3.483,0.919-5.165c-1.182-1.697-3.507-2.08-5.165-0.925    c-58.011,40.558-100.239,1.996-102.013,0.339c-1.497-1.401-3.856-1.33-5.25,0.158c-1.401,1.494-1.333,3.831,0.149,5.237    c0.08,0.076,1.401,1.285,3.812,3.074l-7.431,12.255c-1.06,1.748-0.504,4.03,1.245,5.099c0.598,0.36,1.277,0.541,1.934,0.541    c1.249,0,2.465-0.635,3.172-1.778l7.266-11.973c4.074,2.48,9.298,5.188,15.522,7.476l-3.581,11.972    c-0.593,1.971,0.516,4.027,2.475,4.613l1.068,0.158c1.583,0,3.063-1.04,3.545-2.649l3.546-11.808    c5.745,1.571,12.172,2.632,19.108,2.884v11.858c0,2.052,1.657,3.709,3.709,3.709c2.05,0,3.708-1.657,3.708-3.709V96.278    c6.052-0.332,12.466-1.373,19.163-3.283l4.565,12.038c0.569,1.483,1.979,2.391,3.468,2.391l1.312-0.234    c1.915-0.728,2.886-2.867,2.158-4.781l-4.445-11.729c6.098-2.265,12.401-5.247,18.911-9.203l6.009,8.021    c0.732,0.969,1.849,1.489,2.965,1.489c0.778,0,1.555-0.236,2.222-0.745c1.644-1.23,1.976-3.555,0.752-5.192L128.942,77.41z"
                      fill="#FFFFFF" />
                    <path
                      d="M136.987,48.4c0,0-1.479-2.148-4.603-5.015c-1.527-1.513-3.53-3.037-5.871-4.802c-2.385-1.587-5.093-3.469-8.23-5.062    c-3.128-1.658-6.599-3.242-10.384-4.539c-3.76-1.483-7.901-2.353-12.215-3.136c-4.334-0.545-8.909-0.646-13.521-0.443    c-4.628,0.391-9.254,0.396-13.917,0.962c-4.636,0.389-9.247,0.812-13.746,1.705c-2.253,0.392-4.487,0.706-6.662,1.188    c-2.157,0.594-4.294,1.182-6.39,1.759c-4.196,1.043-8.15,2.381-11.799,3.951c-3.687,1.406-7.106,2.823-10.102,4.539    c-3.032,1.601-5.811,2.969-8.2,4.342c-2.273,1.551-4.269,2.897-5.911,4.005c-3.201,2.241-5.031,3.524-5.031,3.524L0,52.647    c0.186,0.588,0.818,0.897,1.412,0.7l0.119-0.044c0,0,2.073-0.706,5.72-1.945c1.784-0.625,3.962-1.389,6.446-2.268    c2.526-0.722,5.451-1.357,8.557-2.131c3.064-0.884,6.511-1.406,10.148-1.847c1.781-0.259,3.619-0.539,5.501-0.817    c1.9-0.203,3.856-0.252,5.812-0.395c1.966-0.123,3.95-0.245,5.96-0.369c2.023,0.011,4.074,0.028,6.13,0.047    c4.083-0.121,8.264,0.236,12.413,0.6c8.292,0.582,16.336,3.31,23.89,4.571c7.588,1.261,14.882,1.614,21.316,1.967    c6.457,0.184,12.017,0.307,16.094,0.107c4.057-0.147,6.55-0.399,6.55-0.399l0.612-0.235    C137.249,49.79,137.393,48.989,136.987,48.4z"
                      fill="#FFFFFF" />
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 98.48 98.48" class="opened" style="enable-background:new 0 0 98.48 98.48;" xml:space="preserve">
                    <path
                      d="M97.204,45.788c-0.865-1.02-21.537-24.945-47.963-24.945c-26.427,0-47.098,23.925-47.965,24.946   c-1.701,2-1.701,4.902,0.001,6.904c0.866,1.02,21.537,24.944,47.964,24.944c26.426,0,47.098-23.926,47.964-24.946   C98.906,50.691,98.906,47.789,97.204,45.788z M57.313,35.215c1.777-0.97,4.255,0.143,5.534,2.485   c1.279,2.343,0.875,5.029-0.902,5.999c-1.776,0.971-4.255-0.143-5.535-2.485C55.132,38.871,55.535,36.185,57.313,35.215z    M49.241,68.969c-18.46,0-33.995-14.177-39.372-19.729c3.631-3.75,11.898-11.429,22.567-16.021   c-2.081,3.166-3.301,6.949-3.301,11.021c0,11.104,9.001,20.105,20.105,20.105s20.106-9.001,20.106-20.105   c0-4.072-1.219-7.855-3.3-11.021C76.715,37.812,84.981,45.49,88.612,49.24C83.235,54.795,67.7,68.969,49.241,68.969z"
                      fill="#FFFFFF" />
                  </svg>
                  <span>{% trans %}Log in{% endtrans %}</span>
                </div>
              </button>
          </form>
          <p>{% trans %}Not registered yet ?{% endtrans %}<a href="{{ url('register') }}" class="link"> {% trans %}Let's register !{% endtrans %}</a></p>
        </div>
      </div>
      <?xml version="1.0" encoding="UTF-8" standalone="no"?>
      <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd"><svg id="background" width="100%" height="100%" viewBox="0 0 1920 1203" version="1.1" xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" preserveAspectRatio="xMaxYMax slice" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;">
        <rect x="0.139" y="0" width="1919.6" height="1196.26" style="fill:#b3ded7;" />
        <rect x="0" y="892.815" width="1919.8" height="309.684" style="fill:#387a5b;" />
        <rect x="910.986" y="302.137" width="1005.82" height="525.295" style="fill:#b3ded7;" />
        <path
          d="M1277.84,409.903l45.288,0c-0.193,-0.898 -0.257,-1.796 -0.257,-2.694c0,-8.211 6.671,-14.882 14.882,-14.882c3.336,0 6.479,1.155 8.917,3.015c6.927,-8.211 17.319,-13.407 28.93,-13.407c17.512,0 32.201,11.867 36.563,27.968l44.133,0c0.449,-7.762 6.928,-13.984 14.818,-13.984c7.89,0 14.368,6.158 14.817,13.984l32.458,0c6.736,0 12.188,5.452 12.188,12.188c0,6.735 -5.452,12.188 -12.188,12.188l-240.549,0c-6.735,0 -12.187,-5.453 -12.187,-12.188c0,-6.736 5.452,-12.188 12.187,-12.188Z"
          style="fill:#fff;fill-rule:nonzero;" />
        <path
          d="M1004.9,528.446l258.638,0c3.207,-10.328 12.829,-17.897 24.183,-17.897c11.418,0 21.04,7.505 24.247,17.897l94.103,0c3.207,-10.328 12.829,-17.897 24.247,-17.897c5.581,0 10.777,1.86 14.947,4.875c5.131,-12.958 17.768,-22.131 32.586,-22.131c19.372,0 35.088,15.716 35.088,35.088l44.453,0c-1.667,-4.426 -2.63,-9.237 -2.63,-14.24c0,-22.387 18.154,-40.476 40.477,-40.476c1.283,0 2.566,0.064 3.784,0.192c3.849,-18.474 20.207,-32.33 39.835,-32.33c8.211,0 15.78,2.438 22.131,6.607c14.176,-23.99 40.284,-40.091 70.176,-40.091c44.967,0 81.466,36.435 81.466,81.466c0,44.966 -36.499,81.466 -81.466,81.466l-726.265,0c-11.739,0 -21.233,-9.494 -21.233,-21.297c-0.064,-11.739 9.494,-21.232 21.233,-21.232Z"
          style="fill:#fff;fill-rule:nonzero;" />
        <path
          d="M1047.68,457.692l20.206,0c0.898,-10.52 9.622,-18.731 20.335,-18.731c0.256,0 0.513,0.065 0.705,0.065c3.208,-15.396 16.871,-26.942 33.228,-26.942c18.795,0 33.998,15.203 33.998,33.998c0,18.73 -15.203,33.997 -33.998,33.997l-74.474,0c-6.158,0 -11.161,-5.003 -11.161,-11.161c0.064,-6.287 5.003,-11.226 11.161,-11.226Z"
          style="fill:#fff;fill-rule:nonzero;" />
        <path
          d="M1725,665.27l20.206,0c0.898,-10.52 9.622,-18.731 20.334,-18.731c0.257,0 0.514,0.064 0.706,0.064c3.207,-15.395 16.871,-26.941 33.228,-26.941c18.731,0 33.998,15.202 33.998,33.997c0,18.731 -15.203,33.998 -33.998,33.998l-74.474,0c-6.158,0 -11.161,-5.003 -11.161,-11.162c0,-6.222 5.003,-11.225 11.161,-11.225Z"
          style="fill:#fff;fill-rule:nonzero;" />
        <path
          d="M1503.89,647.116l30.277,0c0,-14.304 11.611,-25.915 25.916,-25.915c14.304,0 25.915,11.611 25.915,25.915l10.52,0c7.12,0 12.957,5.774 12.957,12.958l21.361,0c7.12,0 12.958,5.773 12.958,12.958c0,7.12 -5.774,12.957 -12.958,12.957l-92.627,0c-7.121,0 -12.958,-5.773 -12.958,-12.957l-21.361,0c-7.12,0 -12.957,-5.774 -12.957,-12.958c0,-7.184 5.773,-12.958 12.957,-12.958Z"
          style="fill:#fff;fill-rule:nonzero;" />
        <path d="M1796.65,412.02c0,11.226 9.302,20.27 20.72,20.27c11.482,0 20.719,-9.044 20.719,-20.27c0,-11.162 -9.301,-20.27 -20.719,-20.27c-11.482,0 -20.72,9.108 -20.72,20.27Z" style="fill:#fff;fill-rule:nonzero;" />
        <g>
          <path
            d="M910.986,827.432l0,99.748l782.843,0l0,31.752c-5.324,-11.931 -26.428,-11.675 -26.428,-11.675l-756.415,0l0,252.93l1005.82,0l0,-372.691l-1005.82,0l0,-0.064Zm782.843,304.888l-161.777,0l-12.188,-17.192l218.611,-11.353c-18.025,28.994 -44.646,28.545 -44.646,28.545Z"
            style="fill:#387a5b;fill-rule:nonzero;" />
          <path d="M1532.05,1132.32l161.777,0c0,0 26.621,0.449 44.71,-28.545l-218.611,11.353l12.124,17.192Z" style="fill:#326b4f;fill-rule:nonzero;" />
        </g>
        <path d="M1693.83,958.932l0,-31.752l-782.843,0l0,20.142l756.415,0c0,0 21.04,-0.321 26.428,11.61Z" style="fill:#326b4f;fill-rule:nonzero;" />
        <path
          d="M1683.82,828.587l-772.836,0l0,105.713l772.836,0c4.041,0 7.569,3.528 7.569,7.569l0,65.429c0,4.042 -3.528,7.57 -7.569,7.57l-134.258,0c-62.479,0 -113.283,50.804 -113.283,113.282l0,72.037l105.713,0l0,-72.037c0,-4.041 3.528,-7.569 7.57,-7.569l134.258,0c62.479,0 113.283,-50.804 113.283,-113.283l0,-65.429c0,-62.478 -50.804,-113.282 -113.283,-113.282Z"
          style="fill:#4c4b49;fill-rule:nonzero;" />
        <path d="M1299.26,920.059c0,-2.886 -2.373,-5.26 -5.26,-5.26l-199.687,0c-2.887,0 -5.26,2.374 -5.26,5.26c0,2.887 2.373,5.26 5.26,5.26l199.687,0c2.951,0 5.26,-2.373 5.26,-5.26Z" style="fill:#424140;fill-rule:nonzero;" />
        <path
          d="M1494.14,1147.78l-10.071,0l0,-19.629c0,-14.882 5.196,-29.507 14.625,-41.182l7.826,6.351c-8.018,9.814 -12.38,22.194 -12.38,34.831l0,19.629Zm189.681,-74.987l-5.773,0l0,-10.071l5.773,0c17.127,0 33.035,-7.826 43.684,-21.425l7.954,6.222c-12.573,16.037 -31.368,25.274 -51.638,25.274Zm-66.52,0l-60.746,0l0,-10.071l60.746,0l0,10.071Zm131.949,-86.277l-10.071,0l0,-44.646c0,-4.939 -0.641,-9.814 -1.988,-14.561l9.686,-2.694c1.539,5.58 2.309,11.418 2.309,17.255l0,44.646l0.064,0Zm-49.2,-97.567c-5.26,-1.603 -10.712,-2.437 -16.229,-2.437l-42.722,0l0,-10.071l42.722,0c6.543,0 13.022,0.962 19.244,2.886l-3.015,9.622Zm-119.697,-2.437l-60.747,0l0,-10.071l60.747,0l0,10.071Zm-121.493,0l-60.747,0l0,-10.071l60.747,0l0,10.071Zm-121.494,0l-60.746,0l0,-10.071l60.746,0l0,10.071Zm-121.493,0l-60.747,0l0,-10.071l60.747,0l0,10.071Zm-121.493,0l-60.747,0l0,-10.071l60.747,0l0,10.071Zm-121.493,0l-60.747,0l0,-10.071l60.747,0l0,10.071Z"
          style="fill:#fff;fill-rule:nonzero;" />
        <g>
          <path d="M1683.44,828.587l-220.792,-235.161l89.356,164.279l131.436,70.882Z" style="fill:#f0f8fa;fill-rule:nonzero;" />
          <path d="M1394.07,689.453l23.028,-44.133l-114.693,-181.085l50.675,211.555l40.99,13.663Z" style="fill:#f0f8fa;fill-rule:nonzero;" />
          <path d="M1189.19,670.658l6.03,-32.137l-76.27,-76.27l-1.347,1.924l28.096,106.483l43.491,0Z" style="fill:#f0f8fa;fill-rule:nonzero;" />
          <path d="M1683.44,828.587l-131.436,-70.882l-89.356,-164.279l-45.544,51.894l-23.028,44.133l-40.99,-13.663l-50.675,-211.555l-1.348,-2.117l-105.841,176.403l-6.03,32.137l-43.491,0l-28.096,-106.483l-185.319,264.412l751.154,0Z"
            style="fill:#8acad6;fill-rule:nonzero;" />
        </g>
        <path d="M1011.57,762.259l89.356,-129.64l10.969,41.567l-21.04,0l-58.502,88.073l-20.783,0Z" style="fill:#f0f8fa;fill-rule:nonzero;" />
        <path d="M1202.08,670.658l81.722,-135.349l16.678,41.567l-21.104,0l-56.577,93.782l-20.719,0Z" style="fill:#f0f8fa;fill-rule:nonzero;" />
        <path d="M1435.77,689.902l9.494,-15.716l21.04,0l-16.614,-41.567l-34.575,57.283l20.655,0Z" style="fill:#f0f8fa;fill-rule:nonzero;" />
        <path d="M1083.54,762.259l27.711,0l20.142,23.542l19.886,-23.542l33.035,0l10.905,-29.892l-48.623,0l-13.856,15.139l-39.963,0l-9.237,14.753Z" style="fill:#f0f8fa;fill-rule:nonzero;" />
        <path d="M1251.28,768.417l17.833,-57.411l92.948,23.927l95.642,0l8.147,-20.976l17.383,0l21.104,42.016l-30.982,0l-111.294,0l-83.776,-16.293l-27.005,28.737Z" style="fill:#f0f8fa;fill-rule:nonzero;" />
        <g>
          <g>
            <path d="M975.004,728.069l8.981,0l-14.561,25.979l11.482,0l-19.244,35.409l14.24,0l5.902,9.622l23.798,0l0,-137.273l-30.598,66.263Z" style="fill:#00a755;fill-rule:nonzero;" />
            <path d="M1030.36,754.048l11.482,0l-14.561,-25.979l8.98,0l-30.662,-66.263l0,137.273l23.863,0l5.901,-9.622l14.241,0l-19.244,-35.409Z" style="fill:#008c48;fill-rule:nonzero;" />
          </g>
          <rect x="996.429" y="799.079" width="9.237" height="29.507" style="fill:#7d5f3b;" />
          <rect x="1005.6" y="799.079" width="9.237" height="29.507" style="fill:#694f31;" />
        </g>
        <g>
          <g>
            <path d="M1233.26,728.069l8.98,0l-14.625,25.979l11.546,0l-19.308,35.409l14.305,0l5.901,9.622l23.799,0l0,-137.273l-30.598,66.263Z" style="fill:#00a755;fill-rule:nonzero;" />
            <path d="M1288.62,754.048l11.482,0l-14.561,-25.979l8.981,0l-30.662,-66.263l0,137.273l23.798,0l5.901,-9.622l14.305,0l-19.244,-35.409Z" style="fill:#008c48;fill-rule:nonzero;" />
          </g>
          <rect x="1254.68" y="799.079" width="9.237" height="29.507" style="fill:#7d5f3b;" />
          <rect x="1263.86" y="799.079" width="9.237" height="29.507" style="fill:#694f31;" />
        </g>
        <g>
          <g>
            <path d="M1552.13,728.069l8.981,0l-14.625,25.979l11.546,0l-19.308,35.409l14.304,0l5.902,9.622l23.798,0l0,-137.273l-30.598,66.263Z" style="fill:#00a755;fill-rule:nonzero;" />
            <path d="M1607.49,754.048l11.482,0l-14.561,-25.979l8.98,0l-30.662,-66.263l0,137.273l23.863,0l5.837,-9.622l14.305,0l-19.244,-35.409Z" style="fill:#008c48;fill-rule:nonzero;" />
          </g>
          <rect x="1573.55" y="799.079" width="9.237" height="29.507" style="fill:#7d5f3b;" />
          <rect x="1582.73" y="799.079" width="9.237" height="29.507" style="fill:#694f31;" />
        </g>
        <g>
          <g>
            <path d="M1061.79,757.32l6.415,0l-10.328,18.41l8.147,0l-13.663,25.145l10.135,0l4.17,6.8l16.87,0l0,-97.31l-21.746,46.955Z" style="fill:#00a755;fill-rule:nonzero;" />
            <path d="M1101.05,775.73l8.147,0l-10.328,-18.41l6.351,0l-21.682,-46.955l0,97.31l16.871,0l4.169,-6.8l10.135,0l-13.663,-25.145Z" style="fill:#008c48;fill-rule:nonzero;" />
          </g>
          <rect x="1077" y="807.675" width="6.543" height="20.912" style="fill:#7d5f3b;" />
          <rect x="1083.54" y="807.675" width="6.543" height="20.912" style="fill:#694f31;" />
        </g>
        <g>
          <g>
            <path d="M1286.76,744.747l7.569,0l-12.188,21.682l9.558,0l-16.037,29.507l11.932,0l4.875,8.018l19.885,0l0,-114.501l-25.594,55.294Z" style="fill:#00a755;fill-rule:nonzero;" />
            <path d="M1333.01,766.429l9.558,0l-12.188,-21.682l7.57,0l-25.595,-55.294l0,114.501l19.886,0l4.875,-8.018l11.931,0l-16.037,-29.507Z" style="fill:#008c48;fill-rule:nonzero;" />
          </g>
          <rect x="1304.65" y="803.954" width="7.698" height="24.632" style="fill:#7d5f3b;" />
          <rect x="1312.35" y="803.954" width="7.698" height="24.632" style="fill:#694f31;" />
        </g>
        <g>
          <g>
            <path d="M1654.96,757.705l6.351,0l-10.328,18.346l8.147,0l-13.599,24.953l10.071,0l4.169,6.799l16.742,0l0,-96.797l-21.553,46.699Z" style="fill:#00a755;fill-rule:nonzero;" />
            <path d="M1693.96,776.051l8.147,0l-10.328,-18.346l6.351,0l-21.618,-46.699l0,96.797l16.807,0l4.169,-6.799l10.071,0l-13.599,-24.953Z" style="fill:#008c48;fill-rule:nonzero;" />
          </g>
          <rect x="1670.03" y="807.803" width="6.479" height="20.783" style="fill:#7d5f3b;" />
          <rect x="1676.51" y="807.803" width="6.479" height="20.783" style="fill:#694f31;" />
        </g>
        <g>
          <g>
            <path d="M1523.39,771.176l5.196,0l-8.339,14.817l6.543,0l-10.969,20.271l8.146,0l3.336,5.452l13.599,0l0,-78.387l-17.512,37.847Z" style="fill:#00a755;fill-rule:nonzero;" />
            <path d="M1555.02,785.993l6.607,0l-8.339,-14.817l5.132,0l-17.512,-37.847l0,78.387l13.599,0l3.4,-5.452l8.146,0l-11.033,-20.271Z" style="fill:#008c48;fill-rule:nonzero;" />
          </g>
          <rect x="1535.64" y="811.716" width="5.26" height="16.871" style="fill:#7d5f3b;" />
          <rect x="1540.9" y="811.716" width="5.26" height="16.871" style="fill:#694f31;" />
        </g>
        <g>
          <g>
            <path d="M1202.4,771.176l5.132,0l-8.339,14.817l6.543,0l-10.969,20.271l8.146,0l3.336,5.452l13.599,0l0,-78.387l-17.448,37.847Z" style="fill:#00a755;fill-rule:nonzero;" />
            <path d="M1234.03,785.993l6.543,0l-8.339,-14.817l5.132,0l-17.512,-37.847l0,78.387l13.599,0l3.4,-5.452l8.147,0l-10.97,-20.271Z" style="fill:#008c48;fill-rule:nonzero;" />
          </g>
          <rect x="1214.59" y="811.716" width="5.26" height="16.871" style="fill:#7d5f3b;" />
          <rect x="1219.85" y="811.716" width="5.26" height="16.871" style="fill:#694f31;" />
        </g>
        <g>
          <path d="M1076.29,900.11l0,-77.617c0,0 -0.834,-11.803 9.493,-11.803l152.925,0c0,0 11.803,1.154 13.535,8.916l11.803,27.583l47.148,11.226l5.195,5.195l0,36.5l-240.099,0Z" style="fill:#ffb03b;fill-rule:nonzero;" />
          <path d="M1322.61,894.465c0,-3.079 -2.502,-5.581 -5.581,-5.581l-14.625,0c-3.079,0 -5.581,2.502 -5.581,5.581c0,3.079 2.502,5.581 5.581,5.581l14.625,0c3.079,0.064 5.581,-2.438 5.581,-5.581Z" style="fill:#58595b;fill-rule:nonzero;" />
          <path d="M1093.67,894.465c0,-3.079 -2.502,-5.581 -5.581,-5.581l-14.625,0c-3.079,0 -5.581,2.502 -5.581,5.581c0,3.079 2.502,5.581 5.581,5.581l14.561,0c3.143,0.064 5.645,-2.438 5.645,-5.581Z" style="fill:#58595b;fill-rule:nonzero;" />
          <path d="M1143.07,900.11c0,11.674 -9.43,21.104 -21.104,21.104c-11.675,0 -21.104,-9.43 -21.104,-21.104c0,-11.675 9.493,-21.104 21.104,-21.104c11.674,-0.065 21.104,9.429 21.104,21.104Z" style="fill:#58595b;fill-rule:nonzero;" />
          <path d="M1133.64,900.11c0,6.414 -5.195,11.61 -11.61,11.61c-6.415,0 -11.611,-5.196 -11.611,-11.61c0,-6.415 5.196,-11.611 11.611,-11.611c6.35,-0.064 11.61,5.132 11.61,11.611Z" style="fill:#a8a9ad;fill-rule:nonzero;" />
          <path d="M1288.17,900.11c0,11.674 -9.429,21.104 -21.104,21.104c-11.675,0 -21.104,-9.43 -21.104,-21.104c0,-11.675 9.429,-21.104 21.104,-21.104c11.61,-0.065 21.104,9.429 21.104,21.104Z" style="fill:#58595b;fill-rule:nonzero;" />
          <path d="M1278.67,900.11c0,6.414 -5.195,11.61 -11.61,11.61c-6.415,0 -11.675,-5.196 -11.675,-11.61c0,-6.415 5.196,-11.611 11.675,-11.611c6.415,-0.064 11.61,5.132 11.61,11.611Z" style="fill:#a8a9ad;fill-rule:nonzero;" />
          <path d="M1133.64,797.86c0,1.54 -1.283,2.823 -2.822,2.823l-19.308,0c-1.54,0 -2.823,-1.283 -2.823,-2.823c0,-1.539 1.283,-2.822 2.823,-2.822l19.308,0c1.539,0 2.822,1.283 2.822,2.822Z" style="fill:#a8a9ad;fill-rule:nonzero;" />
          <rect x="1117.22" y="800.747" width="7.762" height="10.007" style="fill:#58595b;" />
          <path d="M1214.98,797.86c0,1.54 -1.283,2.823 -2.822,2.823l-19.309,0c-1.539,0 -2.822,-1.283 -2.822,-2.823c0,-1.539 1.283,-2.822 2.822,-2.822l19.309,0c1.539,0 2.822,1.283 2.822,2.822Z" style="fill:#a8a9ad;fill-rule:nonzero;" />
          <rect x="1198.56" y="800.747" width="7.762" height="10.007" style="fill:#58595b;" />
          <g>
            <path d="M1141.72,833.462l-29.828,23.092l29.828,0l0,-23.092Z" style="fill:#33c3f2;fill-rule:nonzero;" />
            <path d="M1095.79,820.312l0,35.601l45.929,-35.601l-45.929,0Z" style="fill:#33c3f2;fill-rule:nonzero;" />
            <path d="M1141.72,820.312l-45.929,35.601l0,0.641l16.101,0l29.828,-23.092l0,-13.15Z" style="fill:#62d7ff;fill-rule:nonzero;" />
          </g>
          <g>
            <path d="M1197.4,820.825l-45.929,35.601l0,0.128l16.742,0l29.187,-22.643l0,-13.086Z" style="fill:#62d7ff;fill-rule:nonzero;" />
            <path d="M1197.4,820.312l-45.929,0l0,36.114l45.929,-35.601l0,-0.513Z" style="fill:#33c3f2;fill-rule:nonzero;" />
            <path d="M1197.4,833.911l-29.187,22.643l29.187,0l0,-22.643Z" style="fill:#33c3f2;fill-rule:nonzero;" />
          </g>
          <g>
            <path d="M1244.87,827.432l-37.525,29.122l16.934,0l24.504,-19.051l-3.913,-10.071Z" style="fill:#62d7ff;fill-rule:nonzero;" />
            <path d="M1242.05,820.312l-34.703,0l0,36.242l37.525,-29.122l-2.822,-7.12Z" style="fill:#33c3f2;fill-rule:nonzero;" />
            <path d="M1248.78,837.503l-24.504,19.051l32.009,0l-7.505,-19.051Z" style="fill:#33c3f2;fill-rule:nonzero;" />
          </g>
          <path d="M1204.2,868.037c0,1.924 -1.539,3.463 -3.463,3.463l-105.201,0c-1.924,0 -3.463,-1.539 -3.463,-3.463c0,-1.925 1.539,-3.464 3.463,-3.464l105.201,0c1.86,0 3.463,1.539 3.463,3.464Z" style="fill:#eba037;fill-rule:nonzero;" />
          <path d="M1243.97,868.037c0,1.924 -1.539,3.463 -3.464,3.463l-21.296,0c-1.925,0 -3.464,-1.539 -3.464,-3.463c0,-1.925 1.539,-3.464 3.464,-3.464l21.296,0c1.925,0 3.464,1.539 3.464,3.464Z" style="fill:#eba037;fill-rule:nonzero;" />
          <g>
            <path d="M1230.31,795.038c-1.732,-25.274 -28.738,-29.636 -28.738,-29.636l-1.732,0c5.004,2.117 16.294,8.019 19.116,19.308l-134.9,0l0,10.264l146.254,0l0,0.064Z" style="fill:#eb7c55;fill-rule:nonzero;" />
            <path d="M1199.84,765.467l-115.784,0l0,19.308l134.964,0c-2.886,-11.29 -14.176,-17.256 -19.18,-19.308Z" style="fill:#ff895d;fill-rule:nonzero;" />
          </g>
        </g>
        <path
          d="M1107.98,1142.26c-21.618,0 -39.258,-17.576 -39.258,-39.257c0,-0.898 -0.77,-1.668 -1.668,-1.668l-59.72,0c-21.617,0 -39.257,-17.576 -39.257,-39.258c0,-21.617 17.576,-39.257 39.257,-39.257l164.6,0c0.898,0 1.668,-0.77 1.668,-1.668c0,-21.617 17.64,-39.258 39.257,-39.258l85.058,0c21.618,0 39.258,17.577 39.258,39.258c0,0.898 0.77,1.668 1.668,1.668l19.308,0c21.617,0 39.257,17.576 39.257,39.257c0,21.618 -17.576,39.258 -39.257,39.258l-124.252,0c-0.898,0 -1.668,0.77 -1.668,1.668c0,21.617 -17.576,39.257 -39.257,39.257l-84.994,0Z"
          style="fill:#347053;fill-rule:nonzero;" />
        <path
          d="M1001.43,1084.47l57.86,0c10.456,0 18.923,8.467 18.923,18.923c0,11.418 9.301,20.719 20.719,20.719l82.428,0c11.418,0 20.72,-9.301 20.72,-20.719c0,-10.456 8.467,-18.923 18.923,-18.923l120.338,0c11.418,0 20.72,-9.302 20.72,-20.72c0,-11.418 -9.302,-20.719 -20.72,-20.719l-18.73,0c-10.456,0 -18.924,-8.467 -18.924,-18.923c0,-11.418 -9.301,-20.72 -20.719,-20.72l-82.428,0c-11.418,0 -20.719,9.302 -20.719,20.72c0,10.391 -8.468,18.923 -18.923,18.923l-159.468,0c-11.418,0 -20.72,9.301 -20.72,20.719c0,11.418 9.302,20.72 20.72,20.72Z"
          style="fill:#8acad6;fill-rule:nonzero;" />
        <path d="M1297.4,1063.75c-8.018,-7.056 -18.538,-11.354 -30.085,-11.354c-11.546,0 -22.066,4.298 -30.084,11.354l60.169,0Z" style="fill:#f0f8fa;fill-rule:nonzero;" />
        <path d="M1161.41,1103.58c-8.019,-7.056 -18.539,-11.354 -30.085,-11.354c-11.546,0 -22.066,4.298 -30.085,11.354l60.17,0Z" style="fill:#f0f8fa;fill-rule:nonzero;" />
        <path d="M1200.22,1070.8c-8.98,-7.954 -20.783,-12.765 -33.741,-12.765c-12.957,0 -24.76,4.811 -33.741,12.765l67.482,0Z" style="fill:#f0f8fa;fill-rule:nonzero;" />
        <path d="M1070.71,1068.49c-8.981,-7.954 -20.784,-12.765 -33.741,-12.765c-12.958,0 -24.761,4.811 -33.741,12.765l67.482,0Z" style="fill:#f0f8fa;fill-rule:nonzero;" />
        <path d="M1270.98,1029.43c-8.981,-7.954 -20.784,-12.765 -33.741,-12.765c-12.958,0 -24.761,4.811 -33.741,12.765l67.482,0Z" style="fill:#f0f8fa;fill-rule:nonzero;" />
        <g>
          <path
            d="M1883.7,850.011c0,-14.817 -14.369,-14.176 -14.369,-14.176l-15.908,0l0,-6.35c0,-15.267 -9.365,-22.965 -15.203,-26.236c-12.252,1.796 -21.617,12.188 -21.617,24.953l0,0.064c-10.199,0.77 -18.218,9.237 -18.218,19.564c0,10.841 8.789,19.629 19.629,19.629l58.502,0c7.761,-8.146 7.184,-17.448 7.184,-17.448Z"
            style="fill:#00a755;fill-rule:nonzero;" />
          <path
            d="M1895.89,847.766c0,-10.84 -8.788,-19.628 -19.629,-19.628l-9.109,0c0,-13.984 -11.354,-25.274 -25.337,-25.274c-1.283,0 -2.438,0.192 -3.657,0.385c5.773,3.335 15.203,10.969 15.203,26.236l0,6.35l15.908,0c0,0 14.369,-0.706 14.369,14.176c0,0 0.577,9.302 -7.184,17.448c10.776,-0.192 19.436,-8.916 19.436,-19.693Z"
            style="fill:#008c48;fill-rule:nonzero;" />
        </g>
        <path d="M1880.43,1103.84c0,7.826 -6.351,14.112 -14.113,14.112c-7.825,0 -14.112,-6.351 -14.112,-14.112c0,-7.826 6.351,-14.112 14.112,-14.112c7.826,-0.065 14.113,6.286 14.113,14.112Z" style="fill:#347053;fill-rule:nonzero;" />
        <path d="M1891.85,943.088c0,15.78 -12.83,28.609 -28.61,28.609c-15.78,0 -28.609,-12.829 -28.609,-28.609c0,-15.78 12.829,-28.609 28.609,-28.609c15.78,0 28.61,12.829 28.61,28.609Z" style="fill:#347053;fill-rule:nonzero;" />
        <path d="M1866.32,1023.01c0,11.482 -9.301,20.848 -20.847,20.848c-11.482,0 -20.848,-9.301 -20.848,-20.848c0,-11.482 9.302,-20.783 20.848,-20.783c11.546,0 20.847,9.301 20.847,20.783Z" style="fill:#347053;fill-rule:nonzero;" />
        <rect x="0.587" y="828.582" width="910.515" height="105.572" style="fill:#4c4b49;" />
        <rect x="782.116" y="876.311" width="60.688" height="10.356" style="fill:#fff;" />
        <rect x="632.116" y="876.311" width="60.688" height="10.356" style="fill:#fff;" />
        <rect x="482.116" y="876.311" width="60.688" height="10.356" style="fill:#fff;" />
        <rect x="322.116" y="876.311" width="60.688" height="10.356" style="fill:#fff;" />
        <rect x="142.116" y="876.311" width="60.688" height="10.356" style="fill:#fff;" />
      </svg>
    </div>
  </div>
{% endblock %}
