{% block body %}
  <h1>Bonjour {{ username }},</h1>
  <p>Merci d'avoir créé votre compte client sur PlaneMe. Nous sommes heureux de vous compter parmi nous !</p>
  <p>PlaneMe vous permet de faciliter la planification de vos voyages et de les gérer plus efficacement.</p>
  <p>A très bientôt !</p>
  <p>L'équipe Planeme</p>
{% endblock %}
