<template>
  <div v-if="visible">
    <form id="formTravel" action="">
      <div class="form-field">
        <label for="">Nom du voyage</label>
        <input @input="e => onChange({ title: e.target.value })" type="text">
      </div>
      <div class="form-row">
        <div class="form-field">
          <label for="">Lieu de départ</label>
          <input @input="e => onChange({ placeFrom: e.target.value })" type="text">
        </div>
        <div class="form-field">
          <label for="">Lieu d'arrivée</label>
          <input @input="e => onChange({ placeTo: e.target.value })" type="text">
        </div>
      </div>
      <div class="form-row">
        <div class="form-field">
          <label for="">Date de départ</label>
          <input @input="e => onChange({ dateFrom: e.target.value })" type="date">
        </div>
        <div class="form-field">
          <label for="">Date d'arrivée</label>
          <input @input="e => onChange({ dateTo: e.target.value })" type="date">
        </div>
      </div>
      <div class="form-row">
        <div class="form-field">
          <label for="">Budget total</label>
          <input @input="e => onChange({ budget: parseInt(e.target.value) })" type="number">
        </div>
        <div class="form-field">
          <label for="">Nombre de voyageurs</label>
          <input @input="e => onChange({ people: parseInt(e.target.value) })" type="number">
        </div>
      </div>
      <button type="submit" @click.prevent="submitFormTravel">Créer</button>
    </form>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
export default {
  data() {
    return { formTravel : { } }
  },
  computed: {
    ...mapGetters('travel', {
      travel: 'travel',
      visible: 'isFormVisible'
    }),
    ...mapGetters('user', {
      user: 'user'
    })
  },
  methods: {
    ...mapActions('travel', [
      'createTravel'
    ]),
    onChange(input) {
      this.formTravel = { ...this.formTravel, ...input }
    },
    submitFormTravel() {
      this.createTravel({formTravel: {...this.formTravel, "user": "api/users/" + this.user.id.toString()}})
    },
  },
}
</script>
