<template>
  <div>
    <header>
      <h1>Mes voyages</h1>
      <button @click="toggleForm" id="addTravel">{{ status[visible] }}</button>
    </header>
    <div class="content">
      <p-formTravel />
    </div>
  </div>
</template>

<script>
  import pFormTravel from '@/components/FormTravel'
  import { mapActions, mapGetters } from 'vuex'

  export default {
    data() {
      return {
        status: {
          true: "X",
          false: "Ajouter un voyage"
        }
      }
    },
    computed: {
      ...mapGetters('travel', {
        visible: 'isFormVisible'
      }),
    },
    components: { pFormTravel },
    methods: {
      ...mapActions("travel", [
        'toggleForm'
      ])
    }
  }
</script>
