<template>
  <div>
    <nav>
      <ul>
        <li><router-link :to="{name:'home'}" class="menu-item">Mes voyages</router-link></li>
        <li><router-link :to="{name:'profile'}" class="menu-item">Mon compte</router-link></li>
      </ul>
    </nav>
    <ul class="perso">
      <li class="user-info">{{ user.username }}</li>
      <li><a href="/logout" class="link">Déconnexion</a></li>
    </ul>
  </div>
</template>
<script>
import { mapGetters, mapActions } from 'vuex'
export default {
  computed: {
    ...mapGetters('user', {
      user: 'user'
    })
  },
  methods: {
    ...mapActions('user', [
      'getCurrentUser'
    ])
  },
  async created() {
    await this.getCurrentUser()
  }
}

</script>
