<template>
  <div>
    <form>
      <input @input="e=>onChange({image:e.target.files})" type="file" name="fileToUpload" id="fileToUpload">
      <input @click="updateUser" type="button" value="Upload Image" name="submit">
    </form>
    <img v-if="form.image" :src="form.image.src" alt="">
  </div>
</template>

<script>
  import user from '@/api/user'
  import { mapGetters } from 'vuex'
  export default {
    data() {
      return {
        form: new FormData()
      }
    },
    computed: {
      ...mapGetters('user', {
        user: 'user'
      })
    },
    methods: {
      updateUser() {
        user.updateUser(this.user.id, this.form)
      },
      onChange(value) {
        this.form.append('image', value)
        for (let key of this.form.entries()) {
          console.log(key[0], key[1])
        }
      }
    }
  }
</script>
