<template>
  <div class="app">
    <aside class="side-menu">
      <p-menu />
    </aside>
    <div class="main">
      <router-view></router-view>
    </div>
  </div>
</template>

<script>
import pMenu from '@/components/Menu'

export default {
  name: "app",
  components: { pMenu }
};
</script>
<style lang="scss">
.app {
  height: 100%;
  margin-left: 16rem;
  padding: 3rem 4rem;
}
</style>
